## python collection,function

In [5]:
x = ["virat kholi","rohit sharma","hardik pandya"]
print(type(x))
y = ("virat kholi","rohit sharma","hardik pandya")
print(type(y))

<class 'list'>
<class 'tuple'>

In [8]:
 x = [1,2,3,4,5,6,7,8,9]
print(type(x))
print("second samllest number in a list",x[1])

<class 'list'>
second samllest number in a list 2

In [1]:
x = ["criket","running","drive"]
y = ("bat","shoues","car")
print(x)
print(type(x))
z = tuple(x)
print(z)

['criket', 'running', 'drive']
<class 'list'>
('criket', 'running', 'drive')

In [6]:
t = [1,2,3,...]
print(type(t))
i = 0
while i<len(t):
    print(t[i])
    i = i+1

<class 'list'>
1
2
3
Ellipsis

In [7]:
m = {"x":"54","y":"78","z":"98","e":"47","b":"99","h":"21"}
q = "highest 1 values in dict",m["b"]
print(q)
w = "highest 2 values in dict",m["z"]
print(w)
r = "highest 3 values in dict",m["y"]
print(r)

('highest 1 values in dict', '99')
('highest 2 values in dict', '98')
('highest 3 values in dict', '78')

In [1]:
l = [(1,2),(3,4),(8,9)]
m = list(zip(*l))
print(m)

[(1, 3, 8), (2, 4, 9)]

In [1]:
d = {1:2,3:4,4:3,2:1,0:0}
s = sorted(d.items())
print(s)

[(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]

In [2]:
n = 10
n1, n2 = 0,1
for i in range(2, n):
    n3 = n1+n2
    n1 = n2
    n2 = n3
    print(n3,end=" ")

1 2 3 5 8 13 21 34

In [5]:
b = ["apple","banana","cherry","kiwi","apple","banana","cherry","kiwi"]
d = {x:b.count(x) for x in b}
print(d)

{'apple': 2, 'banana': 2, 'cherry': 2, 'kiwi': 2}

In [6]:
m = [1,2,0,3,4,0,5,6,6,"banana","goa"]
print(list(set(m)))

[0, 1, 2, 3, 4, 5, 6, 'banana', 'goa']

In [10]:
def recur_factorial(n):
    if n==1:
        return n
    else:
        return n* recur_factorial(n-1)
num = 5
if num < 0 :
    print("sorry,factorial does not exist")
elif num == 0 :
    print("the factorial of 0 and 1")
else:
    print("factorial of",num,"is",recur_factorial(num))

factorial of 5 is 120

In [1]:
x = [12,22,33,43]


odd_sum = 0
even_sum = 0      #odd series

for sub in x:
    for ele in str(sub):
        
        if int(ele) % 2 ==0:
            even_sum += int(ele)
        else:
            odd_sum += int(ele)
            
            
print("odd digit sum : " + str(odd_sum))
print("even digit sum : " + str(even_sum))

odd digit sum : 10
even digit sum : 10

In [2]:
x = [11,21,31,41]


odd_sum = 0
even_sum = 0

for sub in x:                      #even series
    for ele in str(sub):
        
        if int(ele) % 2 ==0:
            even_sum += int(ele)
        else:
            odd_sum += int(ele)
            
            
print("odd digit sum : " + str(odd_sum))
print("even digit sum : " + str(even_sum))

odd digit sum : 8
even digit sum : 6