## python fundamental assignment

In [2]:
#hi,i am yash kamble.
#this is my assignment.

In [3]:
#python casting for integer
x = int(78)
y = int(85.2)      
z = int (12.0)                       #casting 
print(x)
print(y)
print(z)

78
85
12

In [4]:
#python casting for float 
x = float(25)
y = float(34.6)
z = float(21)                    #casting
print(x)
print(y)
print(z)

25.0
34.6
21.0

In [6]:
#python casting for string
x = str(24)
y = str(23.1)
z = str("yash")                  #casting
print(x)
print(y)
print(z)

24
23.1
yash

In [19]:
#python string 
spd = "hello,mam how are you."       #string basic
print(spd)
print(type(spd))
print(len(spd))

hello,mam how are you.
<class 'str'>
22

In [18]:
#python slicing string 
xyz = "runing is good for health"
print(xyz[2:6])                        #string slicing 
print(xyz[:7])
print(xyz[5:])
print(xyz[-8:-1])

ning
runing
g is good for health
r healt

In [23]:
#string concatention 
a = 78
b = 64
c = (a+b)
print(c)
d = "good"
e = " moring"
f = (d+e)
print(f)
g = (d+" "+e)
print(g)

142
good moring
good  moring

In [46]:
#strind mothod (important)
x = "never give up in the life"
y = x.capitalize()
print(y)
z = x.casefold()
print(z)
a = x.center(30)                #mothod of the string 
print(a)
b = x.count("e")
print(b)
c = x.endswith("life")
print(c)
d = x.find("give")
print(d)
e = x.index("up")
print(e)
f = x.isalnum()
print(f)
g = x.isalpha()
print(g)
h = x.isdigit()
print(h)
i = x.islower()
print(i)
j = x.isnumeric()
print(j)
k = x.istitle()
print(k)
l = x.isupper()
print(l)
m = x.lower()
print(m)
n = x.upper()
print(n)
o = x.startswith("NEVER")
print(o)

Never give up in the life
never give up in the life
  never give up in the life
5
True
6
11
False
False
False
True
False
False
False
never give up in the life
NEVER GIVE UP IN THE LIFE
False

In [48]:
#python booleans
x =55
y =25
if x>y:
    print("x is greter than y")
else:
    print("x is not less than y")

x is greter than y

In [28]:
#pyton list
fruits = ["apple","banana","cherry","kiwi"]
print(fruits)
print(type(fruits))                #list is a ordered,changeable,and allow duplicates
print(len(fruits))                 
print(fruits[2])
print(fruits[-3])
print(fruits[1:3])

['apple', 'banana', 'cherry', 'kiwi']
<class 'list'>
4
cherry
banana
['banana', 'cherry']

In [27]:
#python list method
name = ["virat","rohit","suraykumar","bumara"]
coch = ["saurabh","ravi"]
print(name)
name.append("hardik")                 #list method 
print(name)
x = name.copy()
print(x)
y = name.count("rohit")
print(y)
name.extend(coch)
print(name)
a = name.index("rohit")
print(a)
name.insert(3,"jadeja")
print(name)
name.pop(4)
print(name)
name.remove("suraykumar")
print(name)
name.sort()
print(name)
name.clear()
print(name)
joi = name + coch
print(joi)

['virat', 'rohit', 'suraykumar', 'bumara']
['virat', 'rohit', 'suraykumar', 'bumara', 'hardik']
['virat', 'rohit', 'suraykumar', 'bumara', 'hardik']
1
['virat', 'rohit', 'suraykumar', 'bumara', 'hardik', 'saurabh', 'ravi']
1
['virat', 'rohit', 'suraykumar', 'jadeja', 'bumara', 'hardik', 'saurabh', 'ravi']
['virat', 'rohit', 'suraykumar', 'jadeja', 'hardik', 'saurabh', 'ravi']
['virat', 'rohit', 'jadeja', 'hardik', 'saurabh', 'ravi']
['hardik', 'jadeja', 'ravi', 'rohit', 'saurabh', 'virat']
[]
['saurabh', 'ravi']

In [40]:
#python tuples and tuples method  
x = ("shiv","bramamma","vishanu")
v = ("laxmi","sarswati")
print(x)                                #list is a ordered,unchangeable,allow duplicates
print(type(x))                               
y = list(x)                             #list method
y[1] = "ganpti"
x = tuple(y)
print(x)
z = list(x)
z.append("bramamma")
x = tuple(z)
print(x)
for m in x:
    print(m)
a = x + v
print(a)

('shiv', 'bramamma', 'vishanu')
<class 'tuple'>
('shiv', 'ganpti', 'vishanu')
('shiv', 'ganpti', 'vishanu', 'bramamma')
shiv
ganpti
vishanu
bramamma
('shiv', 'ganpti', 'vishanu', 'bramamma', 'laxmi', 'sarswati')

In [7]:
#python set
xy = {"apple","cherry","virat","rohit"}
print(xy)
print(type(xy))                                   #set is a unordered,unchangeable,duplicates not allowed

{'cherry', 'virat', 'rohit', 'apple'}
<class 'set'>

In [24]:
#python set method
name = {"gujarat","pune","maharatra","ahmedabad"}
other = {"goa","kashmir","kedarnath","gujarat"}
print(name)
name.add("rajestan")
print(name)
x = name.difference(other)
print(x)
other.discard("gujarat")
print(other)
other.add("gujarat")                             #set method
print(other)
y = name.intersection(other)
print(y)
z = name.isdisjoint(other)
print(z)
b = name.issubset(other)
print(b)
c = name.issuperset(other)
print(c)
other.pop()
print(other)
d = name.union(other)
print(d)

{'gujarat', 'pune', 'maharatra', 'ahmedabad'}
{'rajestan', 'gujarat', 'pune', 'maharatra', 'ahmedabad'}
{'ahmedabad', 'pune', 'maharatra', 'rajestan'}
{'kashmir', 'kedarnath', 'goa'}
{'kedarnath', 'goa', 'gujarat', 'kashmir'}
{'gujarat'}
False
False
False
{'goa', 'gujarat', 'kashmir'}
{'gujarat', 'rajestan', 'kashmir', 'pune', 'maharatra', 'ahmedabad', 'goa'}

In [25]:
#python if ,elif and else 
x = 52 
y = 65
if x<y:
    print("x less than y")
elif x == y:
    print("x and b are equal")
else:
    print("x is less than y")

x less than y